body{
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(248, 190, 115);
}
.stopwatch {
    text-align: center;
}

#display {
    font-size: 36px;
    margin-bottom: 20px;
}

button {
    font-size: 18px;
    margin: 5px;
    padding: 8px 16px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
}


button:hover {
    background-color: #f0d;
}

#lapTimes {
    list-style-type: none;
    padding: 0;
}

#lapTimes li {
    margin-bottom: 5px;
}
